<div class="bottom-container1">
  <h2>Get in touch with Drywall Magana and follow us</h2>
  <a class="btn" href="mailto:pegaso1998-10@hotmail.com">EMAIL DRYWALL MAGANA!</a>
  <a class="btn" href="tel:+1-437-220-7887">CALL DRYWALL MAGANA!</a>
  <a class="btn" href="sms:+1-437-220-7887">TEXT DRYWALL MAGANA!</a>
</div>
<script src="/javascript/javasc.js"></script>

<div class="bottom-container2">
  <p class="myname">Copyright © 2021 Drywall Magana.</p>
  <a class="footer-link" href="https://www.instagram.com/drywall.magana/"><img src="images/instalogo.png" width="40" height="40" alt="instalogo"> </a>
  <a class="footer-link" href="https://www.facebook.com/Drywall-magana-103796534431548"><img src="images/facelogo.png" width="40" height="40" alt="facelogo"> </a>
  <a class="footer-link" href="https://homestars.com/companies/2928674-drywall-magana"><img src="images/homestars.png" width="40" height="40" alt=""> </a>
</div>

</body>

</html>
