<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <meta charset="utf-8">
  <title>Drywall Magana</title>
<link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/DMfav.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
  <div class="topnav" id="myTopnav">
  <img class="logDM" align="left" src="images/logoclean.png" width="40%" height="120px z-index: 1">
    <a href="/" class="active">Home</a>
    <a href="calcsheet">Calculate by number of sheets installed</a>
    <a href="calcsqft">Calculate by sq/ft</a>
    <a href="calcrep">Calculate by repair</a>
    <a href="#top" class="icon" onclick="myFunction()" style="position: sticky">
      <i class="fa fa-bars" style=""></i>
    </a>
  </div>
