<%- include("partials/header") %>

    <h2 class="h2calcsheet">In this section you can get the final price for your drywall finishing proyect, based on the number of drywall sheets that were installed in your proyect </h2>

    <br>
    <br>
    <div class="skill-row">
          <img src="images/IGmarkham.png" alt="" style="display: block;
max-width: 100%; float: right; height: 10%; margin: 0 .5% .5% .5%">

<img src="images/logoclean.png" alt="" style=" position: absolute; display: block;
max-width: 100%; float: left; max-width: 100%; height: 100%; margin: -3% 0 0 0; opacity: 0.2; z-index: -1">

            <p class="content">Follow these steps to get the most accurate price for your proyect.The number of sheets includes every sheet that was cut to fit your proyect. If your proyect falls on the category under 30 sheets please send a picture by text,or email</p>
<hr style="margin: 3% 70% 3% 30%">
              <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

                  <div ng-app="" ng-init="Sheets=0; Height=8; Size=8">
                  <h1>Cost Calculator</h1>
                  <p class="content">1._ Drywall sheets installed on your proyect : <input type="number" ng-model="Sheets"></p>
                  <p class="content">2._Height of your project (write either 8, 9 or 10 Feet: <input type="number" ng-model="Height" > Feet</p>

                  <p class="content">3._Size of your sheets? (for instance: 4' by 8', 4' by 10' or 4' by 12') :

              4 Feet by <input type="number" ng-model="Size"> Feet</p>

                    <p class="content"><b>Total:$</b>{{(Sheets * (Height*0.135)*(Size*4))*0.6}}</p>
              </div>
            </p>
    </div>
    <br>
    <br>

<%- include("partials/footer") %>
